# Maven
target/

# Logs
*.log

# VS Code
.vscode/

# IntelliJ
.idea/

# Eclipse
.project
.classpath
.settings/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Maven Wrapper Logs
.mvn/wrapper/maven-wrapper.jar